* {
  padding: 0;
  margin: 0;
}

:root {
    --primary-font: #ffffff;
    --primary-red: #FF0000;
    --creamy-pink: #FFC0CB;
    --rich-burgundy: #800020;
    --warm-gray: #3b3b3b;
    --main-font-family: 'Arial', sans-serif; 
  }


body {
    font-family: var(--main-font-family);
  }
  